@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');

@import "tailwindcss" source(none);
@source "./public/*.{html,js}";
@plugin "daisyui";
@plugin "flowbite/plugin";


*{
  font-family: 'Geist', sans-serif;
<<<<<<< HEAD
  border: 1px solid red;
=======
 /* border: 1px solid red;  */
>>>>>>> dc4b4268592358c34f7300771f411bc52886a58c
 
  body{
    padding-top: 100px;
  }
}

